@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
  font-family: "Oswald", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 4.4433rem;
  line-height: 1.1;
}

h2 {
  font-weight: 700;
  font-size: 2.3433rem;
  line-height: 1.1;
}

h3 {
  font-weight: 700;
  font-size: 1.414rem;
  line-height: 1.1;
}

.btn {
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px;
  text-decoration: none;
  border-radius: 15px;
  background-color: #111;
  color: #fff;
}

.btn-more {
  padding: 4px;
  width: 50%;
  text-align: center;
  background-color: #fff;
  color: #fe7600;
  border-bottom: 1px solid;
  border-radius: 0px;
}
.btn-more:hover {
  color: #111;
}

.btn-prod {
  width: 50%;
  text-align: center;
  background-color: #fff;
  color: #fe7600;
  border-bottom: 1px solid;
  border: radius 0px;
}

.card {
  color: #111;
  background-color: #fff;
  box-shadow: 10px 5px 5px rgb(149, 149, 149);
  border-radius: 20px;
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 60px;
}
header nav {
  width: 50%;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: #fe7600;
  text-decoration: none;
  transform: all 2s ease-in-out;
}
header a:hover {
  text-decoration: overline;
  color: #111;
}

main {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("../images/fashion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.9);
}
main .title {
  filter: drop-shadow(2px 4px 6px black);
}
main .btn {
  background-color: #111;
  color: #fff;
  padding: 15px;
}
main .btn:hover {
  background-color: #fe7600;
  color: #111;
  text-decoration: none;
}
main p {
  margin: 50px 0;
  color: #fff;
}

.fashion a {
  text-decoration: none;
  color: #fe7600;
}
.fashion h2 {
  text-align: center;
  padding: 50px;
}
.fashion .wrap {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding-bottom: 50px;
  margin: 0 auto;
}
.fashion .wrap .text {
  margin: auto;
}
.fashion .wrap .text ul {
  list-style-type: none;
}
.fashion .wrap .text ul li {
  font-size: 15px;
  line-height: 2;
  padding: 10px;
}
.fashion .wrap .text ul li::before {
  content: "》";
}
.fashion .wrap .text ul li a {
  color: #111;
}
.fashion .wrap .text ul li a:hover {
  color: #fe7600;
}
.fashion .wrap .text ul li:hover {
  color: #fe7600;
}
.fashion .wrap .photo img {
  width: 100%;
  height: 100%;
}
.fashion .wrap .desing {
  margin-left: 15px;
  padding: 10px;
}
.fashion .wrap .desing p {
  color: #a9a9a9;
  font-size: 16px;
}
.fashion .wrap .desing .btn {
  background-color: #111;
  color: #fff;
}
.fashion .wrap .desing .btn:hover {
  background-color: #fe7600;
  color: #111;
  text-decoration: none;
}

.shop {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.shop .owners {
  background-color: #f5faff;
  padding: 49px;
}
.shop .owners a {
  color: #fe7600;
  text-decoration: none;
}
.shop .owners p {
  color: #a9a9a9;
  font-size: 16px;
  margin-bottom: 10px;
}
.shop .owners .btn {
  background-color: #111;
  color: #fff;
}
.shop .owners .btn:hover {
  background-color: #fe7600;
  color: #111;
  text-decoration: none;
}

.faetured h2 {
  margin: 55px 0 20px 0;
  text-align: center;
}
.faetured .container {
  display: grid;
}
.faetured .container .btn-viwe {
  margin-top: 10px;
  text-align: center;
}
.faetured .container .btn-viwe .btn-more {
  box-shadow: 2px 2px 4px;
  padding: 7px;
  border-radius: 5px;
}
.faetured .container .btn-viwe .btn-more:hover {
  background-color: #fe7600;
  color: #fff;
}
.faetured .container .faetured-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.faetured .container .faetured-grid .card {
  color: #111;
  background-color: #fff;
  box-shadow: 10px 5px 5px rgb(149, 149, 149);
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  margin-bottom: 10px;
  cursor: pointer;
}
.faetured .container .faetured-grid .card img {
  border-radius: 5px 5px 0 0;
}

.contact {
  margin-top: 30px;
}
.contact h2 {
  margin-left: 10px;
}
.contact .contact-info {
  display: flex;
  padding: 13px;
}
.contact .contact-info .maps-directions {
  width: 100%;
}
.contact .contact-info .maps-directions iframe {
  width: 100%;
}

.footer-distributed {
  background: #a9a9a9;
  padding: 50px 60px 40px;
  overflow: hidden;
}
.footer-distributed .footer-left {
  float: left;
}
.footer-distributed .footer-left span {
  color: #fe7600;
  text-decoration: none;
}
.footer-distributed .footer-left .footer-links {
  color: #fff;
  margin: 20px 0;
}
.footer-distributed .footer-left .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: #fff;
}
.footer-distributed .footer-left .footer-links a:hover {
  color: #fe7600;
}
.footer-distributed .footer-left .footer-company-name {
  margin: 5px 0px;
}
.footer-distributed .footer-right {
  float: right;
}
.footer-distributed .footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #fff;
}
.footer-distributed form {
  display: inline-block;
}
.footer-distributed form input {
  display: block;
  border-radius: 3px;
  border: none;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  width: 325px;
  padding: 18px;
  height: 55px;
  margin-bottom: 15px;
}
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  border: none;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  width: 325px;
  padding: 18px;
  height: 100px;
  margin-bottom: 20px;
}
.footer-distributed form a {
  border-radius: 3px;
  background-color: #fff;
  text-decoration: none;
  color: #fe7600;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
  cursor: pointer;
}
.footer-distributed form a:hover {
  background-color: #fe7600;
  color: #fff;
}

@media (max-width: 800px) {
  .footer-distributed {
    padding: 30px;
  }
  .footer-distributed .footer-left {
    float: none;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .footer-distributed .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }
  .footer-distributed form {
    margin-top: 30px;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  header {
    display: block;
    margin: 12px;
  }
  header nav {
    display: none;
  }
  header .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../images/menu-icon.PNG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  header .menu-icon:hover {
    background-image: url("../images/menu-icon-hov.PNG");
  }
  main {
    height: 201px;
  }
  main h1 {
    font-size: 2.4433rem;
  }
  main p {
    margin: 19px 0px;
  }
  main .btn {
    letter-spacing: 1px;
  }
  .fashion .wrap {
    display: grid;
    grid-template-columns: revert;
    width: 100%;
  }
  .shop {
    display: grid;
    grid-template-columns: 1fr;
  }
  .faetured .container .faetured-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .contact {
    text-align: center;
  }
  .contact .contact-info {
    display: block;
  }
  .meps-direct {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */